<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> <!-- ajuste de la imagen para que sea visible en distintas resoluciones indicando cuantas columnas va a usar según la pantalla del dispositivo-->
     <img src="../../../assets/profile.png" 
      class="img-fluid" id="profilepic"> <!--Para que la imagen sea responsive -->
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">Villanueva Alejandro Daniel</p>
        <p>Full Stack Developer Jr.</p>
        <p>Técnico Superior En Programación.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
        <h1>Acerca de mí</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, 
           quisquam. Dolorem facilis maxime, unde totam nostrum quod velit natus?
           Itaque accusamus tenetur quis fuga dolores dignissimos voluptas quos, iure aliquam.</p>
       </span>
    </div>
 </div> 
