<div class="row">  <!--class row para incorporar boostrap-->
   <h1>Hard and Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/delphi.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/C.png'"
    [showImage]="true"
    [imageHeight]="105"
    [imageWidth]="135"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/java.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/assembler.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/js.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="65"
    [radius]="100"
    [imageSrc]="'../assets/mysql.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="65"
    [radius]="100"
    [imageSrc]="'../assets/php.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="75"
    [radius]="100"
    [imageSrc]="'../assets/html5.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="70"
    [radius]="100"
    [imageSrc]="'../assets/CSS.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="65"
    [radius]="100"
    [imageSrc]="'../assets/git.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="80"
    [radius]="100"
    [imageSrc]="'../assets/english.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>

  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <!--circle-progress atributos para el grafico circular-->
    <circle-progress  
    [percent]="90"
    [radius]="100"
    [imageSrc]="'../assets/team.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="100"
    [showUnits]="false"
    [titleFontSize]="'3em'"
    [title]="'HTML'"
    [showSubtitle]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'blue'"
    [innerStrokeColor]="'lightgray'"
    [animation]="true"
    [animationDuration]="800"
  ></circle-progress>  
  </div>
</div>