<div class="row">
  <h1>Experiencia laboral</h1>
  <div class="col-lg-1"></div> <!--para que se corra del margen uso la columna adicional de las 12-->
  <div class="col-lg-11">
   <ul>
      <li>
       <h1>Trabajo 1</h1> - 
       <h3>(years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo dolorem architecto, 
        aut cumque optio laborum ipsam illo facere sapiente repudiandae ex tenetur, enim nulla nesciunt
        sequi temporibus eum voluptate.    
      </p>

   </ul>
   <ul>
    <li>
     <h1>Trabajo 2</h1> - 
     <h3>(years)</h3>
    </li>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo dolorem architecto, 
      aut cumque optio laborum ipsam illo facere sapiente repudiandae ex tenetur, enim nulla nesciunt
      sequi temporibus eum voluptate.    
    </p>
   </ul>
   <ul>
    <li>
     <h1>Trabajo 3</h1> - 
     <h3>(years)</h3>
    </li>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quo dolorem architecto, 
      aut cumque optio laborum ipsam illo facere sapiente repudiandae ex tenetur, enim nulla nesciunt
      sequi temporibus eum voluptate.    
    </p>
   </ul>
  </div>

</div>
